*{
    font-family: 'Times New Roman', Times, serif,思源黑體;/* 測試用 */
}
html,body{
    padding: 0;
    margin: 0;
    background-color: rgb(113, 149, 181);/* 測試用 */
}
.list{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.header{
    display: flex;
    justify-content: flex-end;
    color: rgb(146, 234, 234);
    text-shadow: 0 0 10px rgb(88, 240, 240), 0 0 20px lightblue;/* 測試用 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;/* 禁止反白 */
}
.project,.logo{
    padding: 8px 20px;
}
.project{
    border-radius: 5px 5px 0 0;
    transform: skew(-20deg);
    transition: all 0.3s ease-in-out;
}
.project.active{
    background-color: #4b4b4e;/* 測試用 */
}
.project-content{
    opacity: 0;
    height: 0;
    background-color: #4b4b4e;/* 測試用 */
    transition: all 0.8s ease-in-out;
}
.project-content.active{
    opacity: 1;
    height: 200px;/* 測試用 */
}
.logo{
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
}
.logo.active{
    background-color: #4b4b4e;/* 測試用 */
}
.logo-content{
    display: none;
    justify-content: flex-end;
}
.logo-sort{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    opacity: 0;
    width: fit-content;
    background-color: #4b4b4e;/* 測試用 */
    transition: all 0.6s ease-in-out;
}
.logo-sort img{
    height: 50px;/* 測試用 */
    width: 50px;/* 測試用 */
    padding: 11px;/* 測試用 */
    /* width加padding需要等於logo的width */
}
.logo-content.active{
    display: flex;
}
.logo-sort.active{
    opacity: 1;
    height: auto;
}
.hamburger-menu{
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 43px;
    z-index: 99;
    transition: all 0.3s ease;
}
.bar{
    margin: 2px 0;
}
.arrow{
    display: none;
    position: fixed;
    right: 0;
    padding: 8px 20px;/* 測試用 */
    z-index: 99;
    transition: all 0.5s ease-in-out;
}
.ph-arrow-left{
    font-size: 38px;
    color: #fff;
}/* 測試用 */

@media(max-width: 1000px){
    .list{
        position: fixed;
        display: none;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 0; 
        height: 0;
        padding-top: 39px;
        background-color: #4b4b4e;/* 測試用 */
    }
    .list.open{
        display: flex;
        animation: openMenu 0.5s forwards;
    }
    @keyframes openMenu {
        0% {
            width: 0;
            height: 0;
        }
        50% {
            height: 100vh;
        }
        100% {
            width: 30vw;
            height: 100vh;
        }
    }
    .header{
        flex-direction: column;
        align-items: center;
    }
    .project{
        padding: 8px 20px;/* 測試用 */
    }
    .logo{
        padding: 0;
        margin: 0;
    }
    .content{
        display: flex;
        justify-content: center;
    }
    .project-content{
        position: absolute;
        top: 0;
        right: 0;
        width: 40vw;
        height: 0;
        background-color: #4b4b4e;/* 測試用 */
        z-index: 3;
    }
    .project-content.active{
        opacity: 1;
        height: 100vh;/* 測試用 */
    }
    .logo-name{
        display: none;
    }
    .logo-content{
        display: block;
    }
    .logo-sort{
        height: auto;
        opacity: 1;
    }
    .project{
        transform: none;
    }
    .hamburger-menu .bar{
        width: 30px;
        height: 3px;
        background-color: white;
    }
    .hamburger-menu{
        right: 0;
        display: flex;
    }
    .hamburger-menu.active{
        display: none;
    }
    .hamburger-menu.close .bar{
        margin: 0;
    }
    .hamburger-menu.close .bar:nth-child(1) {
        animation: cross-top 0.6s forwards;
    }
    .hamburger-menu.close .bar:nth-child(2) {
        animation: close 0.6s forwards;
    }
    .hamburger-menu.close .bar:nth-child(3) {
        animation: cross-bottom 0.6s forwards;
    }
    @keyframes cross-top {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
        }
        50% {
            transform: translateY(50%) rotate(0deg);
            opacity: 1;
        }
        100% {
            transform: translateY(50%) rotate(45deg);
            opacity: 1;
        }
    }
    @keyframes close {
        0% {
            display: block;
            opacity: 1;
        }
        50% {
            display: none;
            opacity: 0;
        }
        100% {
            display: none;
            opacity: 0;
        }
    }
    @keyframes cross-bottom {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
        }
        50% {
            transform: translateY(-50%) rotate(0deg);
            opacity: 1;
        }
        100% {
            transform: translateY(-50%) rotate(-45deg);
            opacity: 1;
        }
    }
    .arrow.active{
        display: block;
    }
}